/* === Typography === */

body {
    font-family: ‘Helvetica’, ‘Arial’, sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #000000;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-size: 72pt;
    line-height: 18pt;
    font-weight: bold;
}

h2 {
    font-family: "Helvetica";
    font-size: 24pt;
    line-height: 18pt;
    font-weight: bold;
}

footer {
    font-family: "Helvetica";
    font-size: 10pt;
    line-height: 18pt;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

/* === Backgrounds === */
header {
    background-color: black;
}

main {
    background-color: #cdcdcd;
}

body {
    background-color: #ffffff;
}

footer {
    background-color: black;
}

#splash {
    background-image: url(heading.jpg);
    background-size: cover;
}


/* === Box Model === */
#splash {
    height: 400px;
}

nav {
    padding: 20px;
}

footer {
    padding: 30px;
}

#foodarticles {
    padding: 60px;
}

article {
    margin-bottom: 50px;
}


/* === LAYOUT === */

.floatleft {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}


main {
    display: grid;
    grid-template-columns: 75% 25%;
}

#splash {
    grid-column-start: 1;
    grid-column-end: 3;
}

aside {
    margin-left: 35px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 25px;
}

body {
    margin-top: 175px;
}

#ad {
    background-color: #ff0000;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 500px;
    padding: 20px;
}

#splash {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
}
